In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
!pip install yfinance
import yfinance as yf
!pip install yahoofinancials
import yahoofinancials

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.2)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=8ffa7542e1359d76bf582dbdf9993113715d69c7c1627d16e4e12105fcb13050
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54
Collecting yahoofinancials
  Downloading https://files.pythonhosted.org/packages/46/be/44b0bc468a22e114f99dc6a1211f848e4ab7955f3262df589cea98f03cfd/yahoofinancials-1.5.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.5-cp36-none-any.whl size=15195 sha256=3d834e087da5a5819289f3f73a95426815a727405fb62bc173e436b0d364d068
  Stored in directory: /root/.cache/pip/wheels/42/15/e7/240c5cdc8782b9479ba73404640a3be57bb4053a5c3edd6be5
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.5

In [0]:
stock_name = ["NYSE COMPOSITE (DJ)","NASDAQ Composite","Japan Exchange Group, Inc.","London Stock Exchange Group plc","Shanghai Stock Exchange","Hong Kong Exchanges","S&P BSE SENSEX","NIFTY 50"]

In [0]:
stock_code = ["^NYA","^IXIC","JPXGY","LSE.L","^SSEC","0388.HK","^BSESN","^NSEI" ]

In [0]:
currency = ["USD","USD","USD","GBp","CNY","HKD","INR","INR"]

In [0]:
data = pd.DataFrame(columns=["stock_name","stock_code","currency"])

In [0]:
data.stock_code = stock_code
data.stock_name = stock_name
data.currency = currency

In [67]:
data

                        stock_name stock_code currency
0              NYSE COMPOSITE (DJ)       ^NYA      USD
1                 NASDAQ Composite      ^IXIC      USD
2       Japan Exchange Group, Inc.      JPXGY      USD
3  London Stock Exchange Group plc      LSE.L      GBp
4          Shanghai Stock Exchange      ^SSEC      CNY
5              Hong Kong Exchanges    0388.HK      HKD
6                   S&P BSE SENSEX     ^BSESN      INR
7                         NIFTY 50      ^NSEI      INR

In [76]:
k = 0
tableau_data = pd.DataFrame(columns=["Date","Close","Name"])
for i in range(data['stock_code'].shape[0]):
  temp_data = yf.download(data.loc[i,"stock_code"], start='2019-11-01', end='2020-04-10', progress=False)
  if data.loc[i,"currency"] == "GBp":
    temp_data["Close"] = 1.25*temp_data["Close"]
  elif data.loc[i,"currency"] == "CNY":
    temp_data["Close"] = 0.14*temp_data["Close"]
  elif data.loc[i,"currency"] == "HKD":
    temp_data["Close"] = 0.13 *temp_data["Close"]
  elif data.loc[i,"currency"] == "INR":
    temp_data["Close"] = 0.013 *temp_data["Close"]
    
  if temp_data.any != None:
    temp_data['Date'] = temp_data.index
    temp_data.reset_index(drop=True,inplace= True)
    temp_data = temp_data[["Date","Close"]]
    temp_data["Name"] = data.loc[i,"stock_name"]
    
    for index, row in temp_data.iterrows():
  
      tableau_data.loc[index+k,"Date"] = row['Date']
      tableau_data.loc[index+k,"Close"] = row['Close']
      tableau_data.loc[index+k,"Name"] = row['Name']
      k=k+index
  else:
    print("not found")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1 Failed download:
- ^SSEC: No data found for this date range, symbol may be delisted

In [0]:
tableau_data.to_csv("tableau_data.csv")

In [34]:
temp_data

                 Date         Close   Name
Date
2019-11-01 2019-11-01  11890.599609  ^NSEI
2019-11-04 2019-11-04  11941.299805  ^NSEI
2019-11-05 2019-11-05  11917.200195  ^NSEI
2019-11-06 2019-11-06  11966.049805  ^NSEI
2019-11-07 2019-11-07  12012.049805  ^NSEI
...               ...           ...    ...
2020-04-01 2020-04-01   8253.799805  ^NSEI
2020-04-03 2020-04-03   8083.799805  ^NSEI
2020-04-07 2020-04-07   8792.200195  ^NSEI
2020-04-08 2020-04-08   8748.750000  ^NSEI
2020-04-09 2020-04-09   9111.900391  ^NSEI

[109 rows x 3 columns]

In [0]:
# scraping data from world-o-meter for coronavirus cases

In [0]:
res = requests.get("https://www.worldometers.info/coronavirus/")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[1] 
df = pd.read_html(str(table))[0]

In [0]:
df.to_csv("current_cases.csv")